  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

<!-- Modal de Devocional -->
<div class="modal fade" id="modalDevocional" tabindex="-1" aria-labelledby="modalDevocionalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDevocionalLabel">Devocional</h5>
        <button type="button" class="btn-close btn-info" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="colummodal">
      
      <div class="devocional">
        <!-- Contenido del modal devocional -->
            <h2>Momento de reflexión para fortalecer nuestra fe, y aplicar los principios de la sabiduría en cada aspecto de nuestras vidas</h2> 
      </div>


      <div class="modal-body devocional_content">
        <!-- Contenido del modal devocional -->

        <p id="contenidoDevocional">{{ contenido }}</p>

      </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>


        <!-- Botón de editar solo visible para el administrador -->
        {% if 'user_id' in session and get_user(session['user_id']).is_admin %}
        <a href="{{ url_for('home.editar_devocional') }}" class="btn btn-outline-primary">Editar Devocional</a>
        {% endif %}

     

        <!-- Botón de compartir -->
        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#modalCompartir">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
          <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
          </svg> Compartir
        </button>
      </div>
    </div>
  </div>
</div>




<!-- Modal de Compartir -->
<div class="modal fade" id="modalCompartir" tabindex="-1" aria-labelledby="modalCompartirLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCompartirLabel">compartir</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Lista de redes sociales para compartir -->
        <ul class="list-unstyled">
          <!-- Compartir en WhatsApp -->
          <li>
            <a href="https://api.whatsapp.com/send?text={{ url_for('home.index', _external=True) }}" target="_blank" class="btn btn-success w-100 mb-2">
              <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
          </li>
          <!-- Compartir en Facebook -->
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('home.index', _external=True) }}" target="_blank" class="btn btn-primary w-100 mb-2">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </li>
          <!-- Compartir en LinkedIn -->
          <li>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url_for('home.index', _external=True) }}" target="_blank" class="btn btn-info w-100 mb-2">
              <i class="fab fa-linkedin-in"></i> LinkedIn
            </a>
          </li>
          <!-- Compartir en Instagram -->
          <li>
            <a href="https://www.instagram.com/" target="_blank" class="btn btn-danger w-100 mb-2">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
          <!-- Compartir en Threads -->
          <li>
            <a href="https://www.threads.net" target="_blank" class="btn btn-dark w-100 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-threads" viewBox="0 0 16 16">
            <path d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161"/>
          </svg> Threads
            </a>
          </li>
        </ul>
      </div>
      
  </div>
</div>












<script>
    // Este script abre el modal cuando se hace clic en "Devocionales"
    document.getElementById('openModalDevocional').addEventListener('click', function (event) {
        event.preventDefault();  // Prevenir la acción predeterminada del enlace

        // Aquí obtenemos el contenido del devocional usando la ruta correspondiente
        fetch('/devocional')  // Llamamos a la ruta que devuelve el contenido del devocional
            .then(response => response.text())
            .then(data => {
                // Aquí actualizamos el contenido del modal con el contenido obtenido
                document.querySelector('#modalDevocional .modal-body').innerHTML = data;

                // Abrir el modal
                var modal = new bootstrap.Modal(document.getElementById('modalDevocional'));
                modal.show();  // Mostrar el modal

                // Guardar en sessionStorage que el modal fue mostrado
                sessionStorage.setItem('modalDevocionalShown', 'true');
            })
            .catch(error => console.error('Error al cargar el devocional:', error));
    });

    // Este script se asegura de que el modal no se muestre al hacer clic en "Editar", solo redirige
    document.getElementById('editModalDevocional').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/editar_devocional';  // Redirige a la página de edición
    });

    // Este script muestra el modal de manera automática cuando se carga la página de inicio (index)
    window.onload = function() {
        // Verificar si el modal ya fue mostrado en la sesión
        if (sessionStorage.getItem('modalDevocionalShown') !== 'true') {
            var modal = new bootstrap.Modal(document.getElementById('modalDevocional'), {
                keyboard: false  // Si deseas evitar que se cierre con Esc
            });

            // Mostrar el modal de forma automática al cargar la página
            modal.show();
            
            // Al mostrar el modal, lo marcamos como mostrado
            sessionStorage.setItem('modalDevocionalShown', 'true');
        }
    };
</script>



  





<!--<script>
    // Este script abre el modal cuando se hace clic en "Devocionales"
    document.getElementById('openModalDevocional').addEventListener('click', function (event) {
        event.preventDefault();  // Prevenir la acción predeterminada del enlace

        // Aquí obtenemos el contenido del devocional usando la ruta correspondiente
        fetch('{{ url_for('home.devocional_view') }}')  // Llamamos a la ruta que devuelve el contenido del devocional
            .then(response => response.text())
            .then(data => {
                // Aquí actualizamos el contenido del modal con el contenido obtenido
                document.querySelector('#modalDevocional .modal-body').innerHTML = data;

                // Abrir el modal solo si no está ya abierto
                var modal = new bootstrap.Modal(document.getElementById('modalDevocional'));
                if (!modal._isShown) {
                    modal.show();
                }
            })
            .catch(error => console.error('Error al cargar el devocional:', error));
    });

    // Este script se asegura de que el modal no se muestre al hacer clic en "Editar", solo redirige
    document.getElementById('editModalDevocional').addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '{{ url_for("home.editar_devocional") }}';  // Redirige a la página de edición
    });

    // Este script muestra el modal de manera automática cuando se carga la página de inicio (index)
    window.onload = function() {
        var modal = new bootstrap.Modal(document.getElementById('modalDevocional'), {
            keyboard: false
        });

        // Mostrar el modal solo si no está abierto aún
        if (!modal._isShown) {
            modal.show();
        }
    };
</script>-->

