{% extends 'base.html' %}


{% block content %}


    <div class="container profile">
        <form method="post" class="row mt-5 perfil" enctype="multipart/form-data">
            <div class="col-md-4">
                <div class="text-center">
                    {% if user.photo is none %}
                    <img src="{{ url_for ('static', filename = 'img/usuario.png') }}" width="100" class="profile-image rounded-circle mb-2"
                        alt="Foto de perfil">
                    {% else %}
                    <img src="{{ url_for ('static', filename = user.photo) }}" width="130" height="120" class="profile-image rounded-circle mb-2"
                        alt="Foto de perfil">
                    {% endif %}


                    <div class="mb-3">
                        <input type="file" id="photo" name="photo" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <!-- Mostrar mensajes flash aquí -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}



                <h1> {% block title %} Perfil de Usuario {% endblock %}</h1>
                <hr class="mb-4">

                <form method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Cambiar contraseña</label>
                        <div class="input-group"> <!-- Añadido un contenedor input-group -->
                        <input type="password" class="form-control" id="password" name="password" oninput="toggleEyeIcon()">
                        <span class="input-group-text toggle-password" style="cursor: pointer; display: none;">
                            <span class="eye-icon closed"></span> <!-- Ojo tachado -->
                        </span>
                        </div>
                    </div>
                     <!-- Botón de guardar, inicialmente oculto -->
                    <button type="submit" class="btn btn-success" id="save-button" style="display: none;">Guardar Cambios</button>
                    
                    <!-- Botón de cancelar, inicialmente oculto -->
                    <button type="button" class="btn btn-secondary" id="cancel-button" style="display: none;">Cancelar</button>
                    
                    <!-- Botón de editar -->
                    <button type="button" class="btn btn-warning" id="edit-button" style="background:none; border:none; padding:0; color:green; text-decoration:none; cursor:pointer;">Editar información</button>
                   <!-- <button type="submit" class="btn btn-success">Guardar Cambios</button> -->
                </form>

                 <!-- Formulario para eliminar el perfil -->
                <form method="POST" action="{{ url_for('auth.delete_user', id=user.id) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar tu perfil? Esta acción es irreversible.')">
                  <span class"eliminarperfil" >⚠️ Si deseas eliminar tu cuenta de usuario y el registro de tus post clic en</span>
                    <button type="submit" class="btn btn-dark mt-3">Eliminar mi perfil</button>
                </form>
            </div>
            
        </form>
        
    </div>

{% endblock %}

{% block scripts %}
 {{ super() }}   <!-- Esto incluye el contenido del bloque de la plantilla base, asegurando que los scripts globales (como Bootstrap) no se sobrescriban y se carguen antes de cualquier script específico de esta vista. -->
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}