{% extends 'base.html' %}


{% block message %}alert-success{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2 class="mb-3 mt-3"> {% block title %}Mis Posts{% endblock %}</h2>
            <div class="d-flex justify-content-between mb-3">
                <p>¡Bienvenido al panel de tus <strong>blogs!</strong></p>
                <a href="{{ url_for('post.create') }}" class="btn btn-outline-success">AÑADIR BLOG</a>
            </div>
        </div>
        <table class="table mispost">
            <thead>
                <tr>
                    <th class="fs-5">Título del Blog </th>
                    <th colspan="2" class="fs-5">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for post in posts | reverse %}
                {% if g.user.id == post.author %}
                <tr>
                    <td>
                    <a href="{{ url_for('post.view', id=post.id) }}" class="text-decoration-none">{{ post.title }}</a>
                  </td>

                    <td>
                        <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-sm btn-warning mb-2">Editar</a>
                        <a href="#" class="btn btn-sm btn-danger" onclick="confirmDelete({{ post.id }})">Eliminar</a>
                       

                        <!-- Formulario oculto para eliminar el post -->
                        <form id="deleteForm{{ post.id }}" method="POST" action="{{ url_for('post.delete', id=post.id) }}" style="display:none;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>

                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>


      <!-- Agregar el script de confirmación -->
     <!-- Script para confirmar eliminación -->
    <script>
        function confirmDelete(postId) {
            // Mostrar cuadro de confirmación antes de eliminar
            const confirmAction = confirm('¿Estás seguro de que deseas eliminar este post? Esta acción no se puede deshacer.');

            // Si el usuario confirma, enviar el formulario de eliminación
            if (confirmAction) {
                // Enviar el formulario correspondiente al post seleccionado
                document.getElementById('deleteForm' + postId).submit();
            }
        }
    </script>
{% endblock %}

